<!DOCTYPE html>
<html>
<head>
  <% set_meta_tags :site => "krest-wood.by",
                   :title => "Главная",
                   :reverse => true,
                   :description => Seo.get_description_for_welcome(@welcome),
                   :keywords => Seo.get_keywords_for_welcome(@welcome) if @welcome %>
</head>
<body>
  <%== TunedSanitize::for_(@welcome.content) if @welcome %>
</body>
</html>
